/* Body 
------------------------------------- */
body {
  background: #f7f7f7;
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 300;
  position: relative;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

html {
  font-size: 100%;
}

img {
  width: 100%;
  max-width: 100%;
}
p{
  text-align: justify;
}

/* preloader styles
/* ========================================== */
.preloader{
  position: fixed;
  top: 0;
  z-index: 999999;
  width: 100%;
  height: 100%;
  background-color: #000000;
  align-items: center;
  display: flex;
  justify-content: center;
}
.flyhoog{
  height: 4rem;
  width: 6rem;
  animation: flyhoog 1s infinite ease-in-out  alternate;
}

@-webkit-keyframes flyhoog{
  form{
    transform: translateY(0px);
  }
  to{
    transform: translateY(25%);
  }
}

/* navigation styles
/* ========================================== */
.nav-container,
nav {
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
}

.logo-image img {
  padding-bottom: 0.3rem;
  margin-top: 0rem;
  padding-top: 0rem;
  width: 5.0625rem;
  height: 3rem;
  -webkit-backface-visibility: hidden;
}

nav {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
}

.navbar {
  margin: 0;
  border-radius: 0;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
}

.navicon {
  padding-top: 0rem;
  position: relative;
  right: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.ion-navicon {
  color: #ffffff;
}

nav ul {
  display: inline-block;
}

#nav-menu a {
  text-decoration: none;
  font-weight: 300;
  font-size: 26px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}
#nav-menu a:hover {
  color: #666;
}
#nav-menu li {
  list-style: none;
  padding: 6px;
}

.nav-text-light a {
  color: #ffffff;
}

.sticky .nav-text-light a {
  color: #555555;
}

.sticky nav.nav-inner .navbar {
  height: 70px;
  max-height: 70px;
  margin: 0;
  background: black;
  opacity: 0.7;
  color: transparent;
}

@media all and (max-width: 990px) {
  .nav-text-light a {
    color: #555555;
  }
}
.transparent {
  background: transparent;
}
.navicon {
  padding-right: 10px;
}
nav ul.right {
  float: left;
}

a.icon {
  font-size: 32px;
  padding-right: 20px;
}

.intro-inner {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

.close {
  font-family: inherit;
  font-size: 32px;
  font-weight: 300;
  text-shadow: none;
}
.close:focus {
  outline: 0px auto -webkit-focus-ring-color;
}

.circle {
  width: 60px;
  height: 60px;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -40px;
  margin-left: -40px;
  border-radius: 50%;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  cursor: pointer;
  z-index: 99;
  padding: 4px 0 0;
}

.circle i {
  font-size: 40px;
  color: #ffffff;
}

.circle.dark {
  border-color: #292929;
}

.circle.dark:before {
  border-color: transparent transparent transparent #292929;
}

.circle.inline {
  position: relative;
  top: 0;
  left: 0;
  margin-top: 0;
  margin-left: 0;
  display: inline-block;
  z-index: 0;
}

@media all and (max-width: 767px) {
  .circle.large {
    width: 90px;
    height: 90px;
    margin-top: -45px;
  }
  .circle.large:before {
    margin-top: -14px;
    margin-left: -8px;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 0 15px 25px;
    border-color: transparent transparent transparent #fff;
  }
}

.list-menu {
  position: fixed;
  visibility: hidden;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9999999;
  background: rgba(0, 0, 0, 0.9);
  transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  opacity: 0;
  z-index: -1;
}

.list-menu.reveal-modal {
  opacity: 1;
  z-index: 999999;
  visibility: visible;
}

.list-menu .ion-close-round {
  font-size: 31px;
  position: absolute;
  top: 32px;
  right: 32px;
  color: #fff;
  cursor: pointer;
}

/* header section styles
/* ========================================== */
#header {
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  text-align: center;
  padding-top: 130px;
  padding-bottom: 100px;
}
#header h1 {
  padding-top: 12rem;
  color: #ffffff;
  text-align: center;
  font-weight: 600;
}
#header h3 {
  color: #ffffff;
  text-align: center;
  padding-bottom: 0rem;
}
#header h5 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: #e4e2e2;
  text-align: center;
  padding-bottom: 0rem;
}

.header-one {
  height: 42vh !important;
  min-height: 420px;
  padding-top: 120px !important;
}

.header-one {
  background: url("../images/fly.GIF") no-repeat;
  height: 60vh !important;
  min-height: 520px;
  padding-top: 150px !important;
}
#header .btn {
  border-radius: 1rem;
}
#header .whatsapp {
  background-color: green;
  color: white;
}
#header .resume {
  background-color: rgb(60, 99, 60);
  color: white;
}
#header .whatsapp:hover {
  background-color: rgb(241, 241, 241);
  color: green;
}
#header .resume:hover {
  background-color: rgb(241, 241, 241);
  color: green;
}

/* Portfolio section styles
/* ========================================== */
#portfolio {
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 6rem;
}

#portfolio img {
  width: 100%;
}

#portfolio .portfolio-thumb img{
  position: relative;
  overflow: hidden;
  max-width: 100%;
  -webkit-transform: scale( 1);
  -moz-transform: scale( 1);
  -ms-transform: scale( 1);
  -o-transform: scale( 1);
  transform: scale( 1);
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  margin: 0;
}


#portfolio .portfolio-thumb:hover img{
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

/*filter css*/
.filter-wrapper {
  width: 100%;
  margin-bottom: 32px;
  overflow: hidden;
}

.filter-wrapper li {
  display: inline-block;
  margin: 4px;
}

.filter-wrapper li a {
  color: #666;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 8px 17px;
  margin-right: 2px;
  margin-left: 2px;
  text-transform: uppercase;
  display: block;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
}
.filter-wrapper li a:active {
  background: #111112 !important;
}
.filter-wrapper li a:hover,
.filter-wrapper li a:focus {
  background: #111112;
  color: #ffffff;
}

/*isotope box css*/
.iso-box-section {
  width: 100%;
}

.iso-box-wrapper {
  width: 100%;
  padding: 0;
  clear: both;
  position: relative;
}

.iso-box {
  position: relative;
  min-height: 50px;
  float: left;
  overflow: hidden;
  margin-bottom: 25px;
}

.iso-box > a {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.fluid-img {
  width: 100%;
  display: block;
}
/* service section styles
/* ========================================== */

.services .icon {
  font-size: 3rem;
}

/* contact section styles
/* ========================================== */
#contact {
  padding-top: 6rem;
  padding-bottom: 2rem;
}

#contact .contact-form {
  padding-top: 3rem;
}

#contact .form-control {
  background: transparent;
  border: 1px solid rgb(189, 189, 189);
  border-radius: 0px;
  box-shadow: none;
  font-size: 16px;
  margin-bottom: 16px;
  transition: all 0.4s ease-in-out;
}

#contact .form-control:hover {
  border-color: #f0f0f0;
}

#contact textarea {
  min-height: 100px;
}

#contact input {
  height: 50px;
}

#contact input[type="submit"] {
  background: #111112;
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 2px;
  transition: all 0.4s ease-in-out;
  margin-top: 10px;
}

#contact input[type="submit"]:hover {
  background: #444;
}

.contact-submit {
  width: 50%;
}

#contact .col-md-4 {
  background: #fff;
  padding: 62px 0px 32px 42px;
  position: relative;
  bottom: -50px;
}
#contact h1 {
  color: #000000;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
}
#contact img {
  border-radius: 50%;
  width: 11rem;
  height: 11rem;
  align-items: center;
  align-content: center;
  text-align: center;
}
#contact p {
  color: #000;
  text-align: justify center;
}

.about {
  padding: 1rem;
  margin: 0;
}

/* footer section styles
/* ========================================== */
footer {
  background: #141414;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
}

.social-icon {
  position: relative;
  padding: 0;
  margin: 0;
  text-align: center;
}

.social-icon li {
  display: inline-block;
  list-style: none;
}

.social-icon li a {
  border-radius: 100%;
  color: rgb(153, 153, 153);
  cursor: pointer;
  font-size: 30px;
  text-decoration: none;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  text-align: center;
  position: relative;
  margin-top: 2rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.social-icon li a:hover {
  color: #ffffff;
  -webkit-transform: scale( 1);
  transform: scale( 1);
}

footer p {
  text-align: center;
  padding-top: 2rem;
  color: rgb(196, 195, 195);
}
footer a {
  color: rgba(255, 102, 0, 0.938);
}
footer p a:hover {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

@media (max-width: 700px) {
  footer p {
    font-size: x-small;
  }
  .social-icon li a {
    font-size: 20px;
}
/* Responsive Mobile styles
/* ========================================== */
@media (max-width: 980px) {
  .intro-inner {
    top: 30%;
  }

  #contact .col-md-4 {
    padding: 62px 20px 42px 32px;
  }

  #contact .col-md-4 p {
    font-size: 12px;
  }

  #contact #map-canvas {
    margin-bottom: 60px;
  }
}

@media (max-width: 768px) {
  .brand {
    padding-left: 24px;
  }

  .header-one,
  .header-two,
  .header-three,
  .header-four,
  .header-five {
    min-height: 380px;
    padding-top: 80px !important;
  }

  #about .col-md-4,
  #single-project .col-md-3 {
    padding-bottom: 32px;
  }
}

@media (max-width: 700px) {
  h1 {
    font-size: 1.3rem;
  }
  h3 {
    font-size: 13px;
    letter-spacing: 3px;
  }

  .filter-wrapper {
    padding: 0px;
  }

  #contact {
    padding-bottom: 4rem;
  }

  #contact .col-md-4 {
    padding: 32px 20px 22px 62px;
  }
  .contact-submit {
    width: 70%;
  }
}

@media (max-width: 450px) {
  .intro-inner {
    top: 50%;
  }
}
